<% if @bride.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @bride.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @bride, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
    
    <%= f.label :name, "Input your name:" %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :password, "Enter your password:" %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Sign In"%>
     
    <% end %>