<% if @bridesmaid.errors.any? %>
<div id="error_explanation">
  <h3>There were some errors:</h3>
  <ul>
    <% @bridesmaid.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for ([@bridesmaid.bride, @bridesmaid]) do |f| %>
    Name:
    <%= f.text_field :name, placeholder: "Enter bridesmaids name" %><br>
    <%= f.hidden_field :bride_id, value: @bride.id %>
    <%= f.label :dress_id, 'Pick a Dress:' %>
    <br>
    <% @dresses.each do |dress| %>
        <%= f.radio_button :dress_id, dress.id %> <img src="<%=dress.link%>" alt="dress" height="250" >
        <br>
    <% end %>
    <br><br>
    <%= f.submit %>
<% end %>