<body>
<img src="<%=@dress.link%>" alt="dress" height="250" >
<br>
Dress Material: <%= @dress.material %>
<br>
Dress Length: <%= @dress.length %> inches
<br>
<%= link_to 'Edit Dress', edit_dress_path(@dress) %>
<input type="submit" id="comments-button" value="See Comments">

<section id="comments-section">
    <div id="comments"></div>
    <% if @comments.empty? %>
	<p>There are no comments. Would you like to add a comment?</p>
    <% end %>
    <%= link_to 'Add Comment', new_dress_comment_path(@dress) %>
    <div id="new-comment"></div>
</section>
</body>