<img src="<%=@dress.link%>" alt="dress" height="250" >
<br>
Dress Material: <%= @dress.material %>
<br>
Dress Length: <%= @dress.length %> inches
<br>
<%= link_to 'Edit Dress', edit_dress_path(@dress) %>
<p> 
    <%= link_to "Comments", dress_comments_path(@dress), id: "comment-link" %>
</p>

<section id="comments-section">
    <ol id="comments">
        <%= render @comments %>
    </ol>
    <%= form_for [@dress, @dress.comments.new] do |f| %>
        <fieldset>
            <ol>
                <li> 
                    <%= f.text_area :comment, rows:2, cols: 60,
                    placeholder: "Leave a comment..." %>
                </li>
                <li>
                    <%= f.submit 'Post Comment', class: 'button' %>
                </li>
            </ol>
        </fieldset>
    <% end %>
</section>