<!DOCTYPE html>
<html>
  <head>
    <title>Unique Bridesmaid Dress Creater</title>
  </head>
  <body>
  <h1>Unique Bridesmaid Dress Creater</h1>
    <ul>
        <li><%= link_to 'View All Brides', brides_path %></li>
        <li><%= link_to 'View All Dresses', dresses_path %></li>
        <li><%= link_to 'New Bride Profile', new_bride_path %></li>
        <li><%= link_to 'Add a Dress', new_dress_path %></li>
    </ul>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
